<mat-toolbar color="primary" fxLayoutGap="0.8rem" >
    <mat-icon [routerLink]="['/home']">arrow_back</mat-icon>
        <span >ScoreCard</span>
        <span></span>
        <span></span>
           <mat-icon class="add" (click)="addScore()">add_circle_outline</mat-icon>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="auto">
            <button type="button" mat-icon-button (click)="logOut()">
                <mat-icon  >exit_to_app</mat-icon>
            </button>
        </div>
      </mat-toolbar>
              <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="hole_nr" >
                    <th mat-header-cell *matHeaderCellDef> Hole No. </th>
                    <td mat-cell *matCellDef="let element" > {{element.hole_nr}} </td>
                  </ng-container>
                  <ng-container matColumnDef="strokes">
                      <th mat-header-cell *matHeaderCellDef> Strokes </th>
                      <td mat-cell *matCellDef="let element"> {{element.strokes}} </td>
                    </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Points </th>
                    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                 
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>