
Golf-API/golf-api/golf-api/bin/

Golf-API/golf-api/golf-api/obj/

Golf-API/golf-api/golf.Core/bin/

Golf-API/golf-api/golf.Core/obj/

Golf-API/golf-api/.vs/golf-api/xs/

Golf-API/golf-api/golf-api/Properties/
